@model List<project1.logic.Models.Locations>

@{
    ViewData["Title"] = "Store Locations";
}

<h2>Welcome to Zhou Mama's Chinese Restaurant</h2>

<p>
    <a asp-action="Create">Current Locations</a>
</p>
<form method = "post" action = "@Url.Action("Index", "MainMenu")" class="form-inline">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>
                    Location
                </th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.locNum)
                    </td>
                    <td>
                        <input type="radio" name="locale" id="
                @Html.DisplayFor(modelItem => item.locNum)"  
                    value="@Html.DisplayFor(modelItem => item.locNum)@Html.DisplayFor(modelItem => item.cityState)" />
                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cityState)
                    </td>
                </tr>
            }
        </tbody>
    </table>

<button type="submit" class="btn-primary">Submit</button>
</form>


